{{#section "head"}}
  <link rel="stylesheet" href="/calendar.css" />
{{/section}}

{{#section "scripts"}}
  <script src="/calendar.js"></script>
{{/section}}

<div id="calendar">
  {{#months}}
    <div id="month">
      <div id="month-name" class="ml-1 font-medium">{{month}}</div>
      <div id="days">
        {{#days}}
          {{#if isComplete}}
            <button
              id="day"
              class="day complete bg-gray-200"
              data-date="{{date}}"
              data-is-complete="{{isComplete}}"
            >{{day}}</button>
          {{else}}
            <button
              id="day"
              class="day bg-gray-200"
              data-date="{{date}}"
            >{{day}}</button>
          {{/if}}

        {{/days}}
      </div>
    </div>
  {{/months}}
</div>