{{!-- prettier-ignore --}}
<style>
  #calendar {
    display: grid;
    grid-template-columns: repeat(4, [col-start] 1fr);
    justify-content: center;
    gap: 25px;
    margin: 1rem;
  }

  .day {
    width: 30px;
    margin: 5px;
    height: calc(30px * 1.1547);
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    border: none;
  }
  
  .day.complete {
    background: rgb(180, 177, 177);
  }

  @media screen and (max-width: 1000px) {
    #calendar {
      grid-template-columns: repeat(3, [col-start] 1fr);
    }
  }

  @media screen and (max-width: 740px) {
    #calendar {
      grid-template-columns: repeat(2, [col-start] 1fr);
    }
  }

    @media screen and (max-width: 500px) {
    #calendar {
      grid-template-columns: repeat(1, [col-start] 1fr);
    }
  }

</style>

<div id="calendar">
  {{#months}}
    <div id="month">
      <div id="month-name" class="ml-1 font-medium">{{month}}</div>
      <div id="days">
        {{#days}}
          {{#if isComplete}}
            <button
              id="day"
              class="day complete bg-gray-200"
              data-date="{{date}}"
              data-is-complete="{{isComplete}}"
            >{{day}}</button>
          {{else}}
            <button
              id="day"
              class="day bg-gray-200"
              data-date="{{date}}"
            >{{day}}</button>
          {{/if}}

        {{/days}}
      </div>
    </div>
  {{/months}}
</div>

{{!-- prettier-ignore --}}
<script>
  const _csrf = document.querySelector("meta[name='csrf-token']").getAttribute("content");
  document.getElementById("calendar").addEventListener("click", async (ev) => {
    if(event.target.id !== "day") return;
    const btn = event.target
    const isDayComplete = btn.getAttribute('data-is-complete') === "true";
    if(isDayComplete) {
      deleteDay(btn.getAttribute("data-date"));
      btn.setAttribute("data-is-complete", false);
      btn.classList.remove("complete");
    } else {
      submitDay(btn.getAttribute("data-date"))
      btn.setAttribute("data-is-complete", true);
      btn.classList.add("complete");
    }
  });

  async function submitDay(day) {
    try {
      const result = await fetch("/day", {
        method: "POST",
        headers: {
          "x-csrf-token": _csrf,
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          date: event.target.getAttribute("data-date")
        })
      })
    } catch(err) {
      console.error(err);
    }
  }

  async function deleteDay(day) {
    try {
      const result = await fetch("/day", {
        method: "DELETE",
        headers: {
          "x-csrf-token": _csrf,
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          date: event.target.getAttribute("data-date")
        })
      })
    } catch(err) {
      console.error(err);
    }
  } 
</script>