<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <title>Daily Do It</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{_csrfToken}}" />

    {{!-- Favicons --}}
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicons/{{todaysDate}}-favicon.svg" type="image/svg+xml">

    <link rel="stylesheet" href="/main.css" />

    {{!-- TODO:  add apple-touch and manifest icons https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs --}}
    {{{_sections.head}}}
    {{{_sections.scripts}}}
  </head>

  <body class="h-full flex flex-col">

    <header class="w-full border-b p-5 shadow-sm">
      <div class="flex items-center justify-between max-w-7xl m-auto">
        <a href="/" class="inline-block text-xl font-medium">Daily Do It.</a>
        <nav class="flex items-center gap-5 justify-center">
          {{#if user}}
            <form action="/signout" method="post" class="mb-0">
              <input type="hidden" name="_csrf" value="{{_csrfToken}}" />
              <button type="submit">Sign Out</button>
            </form>
          {{else}}
            <a href="/signin" class="inline-flex gap-2 items-center hover:text-sky-700">Sign In</a>
          {{/if}}
        </nav>
      </div>
    </header>

    <main class="grow shrink-0 basis-auto">
      {{{body}}}
    </main>

    <footer class="flex-shrink-0 p-5 bg-gray-50 hidden md:block">
      <div class="max-w-7xl m-auto flex justify-between w-full flex-wrap gap-5 items-center">

        <!-- Boring Stuff -->
        <ul class="flex gap-5 flex-wrap">
          <li><a href="/privacy-policy" class="inline-block">Privacy Policy</a></li>
          {{!-- TODO: Add this <li><a href="/terms-and-conditions" class="inline-block">Terms and Conditions</a></li> --}}
        </ul>

        <!-- Fun Stuff -->
        <ul class="flex gap-5">
          <li>
            <a href="https://twitter.com/ORidsdale" target="_blank">
              <img src="https://img.shields.io/twitter/follow/ORidsdale">
              <span class="visually-hidden">Follow Oliver Ridsdale on Twitter (opens in a new window)</span>
            </a>
          </li>

          <li>
            <a href="https://github.com/ollieri3/daily-do-it" target="_blank">
              <img alt="A badge signifying that the source code of this project is held under an MIT License" src="https://img.shields.io/github/license/ollieri3/daily-do-it">
              <span class="visually-hidden">Go to the Daily Do It Github Repository (opens in a new window)</span>
            </a>
          </li>
        </ul>

      </div>
    </footer>

  <body>
</html>